# specific file types
notebooks/*.h5
notebooks/*.pdf
notebooks/*.sh
notebooks/*.out
notebooks/*.ipynb
notebooks/*.png
notebooks/*.jpg
notebooks/*.csv
notebooks/*.py
notebooks/*.txt
*/.ipynb
*.ipynb
# image data
notebooks/data/**
notebooks/generated_images/**
notebooks/config_training_drizzle/**
notebooks/train_results/**
notebooks/train2_results/**
notebooks/train3_results/**
notebooks/NLNORM/**
notebooks/nolens_results/**

# DS_STORE
*.DS_Store
*/.DS_Store
.DS_Store

# Jupyter
.ipynb_checkpoints

#vscode
.vscode

# Python cache
*.py[cod]
__pycache__

# Packages
.eggs
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Pycharm
.idea

# COSMOS images
datasets/cosmos
